<a href="https://colab.research.google.com/github/salvarafik08/Agriculture-productivity-analysis/blob/main/Agri_productivity_and_water_footprint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
file_path = "Farmer_Crop_Production_Sales_Dataset (Autosaved).xlsx"
df = pd.read_excel(file_path)

print("‚úÖ Dataset Loaded Successfully!\n")
print("First 5 Rows of the Dataset:")
print(df.head())

‚úÖ Dataset Loaded Successfully!

First 5 Rows of the Dataset:
  Farmer_ID    Farmer_Name        State       Crop  Season  Year  Area_acres  \
0      F001  Lakshmi Kumar  Maharashtra      Maize    Rabi  2022        2.26
1      F002     Ravi Naidu    Karnataka     Banana  Annual  2022        5.04
2      F003    Priya Kumar   Tamil Nadu  Groundnut  Kharif  2023        8.63
3      F004    Priya Naidu    Karnataka      Wheat  Kharif  2024        3.05
4      F005     Priya Devi  Maharashtra      Maize  Kharif  2024        6.71

   Yield_kg  Rainfall_mm  Market_Price_per_kg  ...  Column16354  Column16355  \
0   1922.46      1188.80                39.54  ...          NaN          NaN
1   3503.72      1343.16                49.15  ...          NaN          NaN
2   6433.53      1268.55                47.84  ...          NaN          NaN
3   3604.49       395.75                25.48  ...          NaN          NaN
4   5807.26       593.77                35.80  ...          NaN          NaN

  Column16356  Column16357  Column16358  Column16359  Column16360  \
0         NaN          NaN          NaN          NaN          NaN
1         NaN          NaN          NaN          NaN          NaN
2         NaN          NaN          NaN          NaN          NaN
3         NaN          NaN          NaN          NaN          NaN
4         NaN          NaN          NaN          NaN          NaN

   Column16361  Column16362  Column16363
0          NaN          NaN          NaN
1          NaN          NaN          NaN
2          NaN          NaN          NaN
3          NaN          NaN          NaN
4          NaN          NaN          NaN

[5 rows x 16384 columns]

In [11]:
# Step 2: Basic Info and Cleaning
print("\nüìã Dataset Information:")
df.info()

print("\nüîç Checking for Missing Values:")
print(df.isnull().sum())

üìã Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 16384 entries, Farmer_ID to Column16363
dtypes: float64(16377), int64(1), object(6)
memory usage: 12.5+ MB

üîç Checking for Missing Values:
Farmer_ID        0
Farmer_Name      0
State            0
Crop             0
Season           0
              ...
Column16359    100
Column16360    100
Column16361    100
Column16362    100
Column16363    100
Length: 16384, dtype: int64

In [12]:
# Fill missing numerical values with mean, categorical with mode
for col in df.columns:
    if df[col].dtype in ["int64", "float64"]:
        df[col].fillna(df[col].mean(), inplace=True)
    else:
        df[col].fillna(df[col].mode()[0], inplace=True)

# Remove duplicate rows
df.drop_duplicates(inplace=True)
print("\n‚úÖ Data Cleaning Done!")

/tmp/ipython-input-1270267719.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/tmp/ipython-input-1270267719.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

‚úÖ Data Cleaning Done!

In [13]:
# Step 3: Summary Statistics
print("\nüìä Summary Statistics:")
print(df.describe())

# Step 4: NumPy Operations
print("\nüî¢ NumPy Calculations:")
# Example calculations (adjust column names as per your dataset)
if 'Production' in df.columns and 'Sales' in df.columns:
    avg_production = np.mean(df['Production'])
    total_sales = np.sum(df['Sales'])
    max_yield = np.max(df['Production'])
    print(f"Average Production: {avg_production:.2f}")
    print(f"Total Sales: {total_sales:.2f}")
    print(f"Maximum Production: {max_yield:.2f}")
else:
    print("Please verify column names like 'Production' and 'Sales' in your dataset.")

üìä Summary Statistics:
              Year  Area_acres     Yield_kg  Rainfall_mm  Market_Price_per_kg  \
count   100.000000  100.000000   100.000000   100.000000           100.000000
mean   2023.070000    5.639500  5398.964700   929.633700            36.054000
std       0.843933    2.460913  2649.886292   334.365869            12.193301
min    2022.000000    1.360000  1072.880000   334.830000            15.030000
25%    2022.000000    3.810000  3239.760000   658.827500            26.355000
50%    2023.000000    5.650000  5468.400000   943.665000            34.825000
75%    2024.000000    7.682500  7775.912500  1205.407500            43.030000
max    2024.000000    9.950000  9965.090000  1476.930000            59.880000

         Total_Sales         Profit  Fertilizer_Cost     Seed_Cost  \
count     100.000000     100.000000       100.000000    100.000000
mean   191305.557600   46715.128500     11279.915300   5830.225300
std    115784.881267   30326.488053      6320.354291   3021.545983
min     25105.000000    5424.830000      1741.730000    874.380000
25%    110304.132500   22689.117500      6351.870000   3279.570000
50%    173250.660000   41910.950000     10087.015000   5528.150000
75%    244477.892500   60307.785000     14661.022500   8366.345000
max    584950.780000  188445.370000     26920.580000  12757.950000

         Labor_Cost  ...  Column16354  Column16355  Column16356  Column16357  \
count    100.000000  ...          0.0          0.0          0.0          0.0
mean    9207.784600  ...          NaN          NaN          NaN          NaN
std     4941.221371  ...          NaN          NaN          NaN          NaN
min     1521.780000  ...          NaN          NaN          NaN          NaN
25%     4892.987500  ...          NaN          NaN          NaN          NaN
50%     8674.105000  ...          NaN          NaN          NaN          NaN
75%    12338.065000  ...          NaN          NaN          NaN          NaN
max    20967.000000  ...          NaN          NaN          NaN          NaN

       Column16358  Column16359  Column16360  Column16361  Column16362  \
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

       Column16363
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

[8 rows x 16378 columns]

üî¢ NumPy Calculations:
Please verify column names like 'Production' and 'Sales' in your dataset.